* {
    font-family: Noto Sans;
}

.p-1rem {
    padding: 1rem;
}

.p-2rem {
    padding: 2rem;
}

.w-100 {
    width: 100%;
}

.m-2 {
    margin: 5px;
}

.f-s-130 {
    font-size: 130%;
}

.f-w-b {
    font-weight: bold;
}

/* .a-c-c {
    align-content: center;
} */

#header {
    font-size: 300%;
    background-color: #56b58a;
    color: white;
}

#leftContainer {
    margin: 2rem;
}

#searchLabel {
    font-size: 150%;
    text-align: center;
    margin-bottom: 12px;
}

#cityInput {
    width: 100%;
    margin-bottom: 12px;
}

#rightContainer {
    border: solid;
    margin: 2rem;
}